{%- set func_name = "_" + app_name|replace("-","_") -%}
#!/bin/zsh

{{ func_name }}() {
    local context curcontext=$curcontext state line
    declare -A opt_args
    local ret=1

    _arguments -C \
{%- for key, keyword in root.keyword_arguments.items() %}
        '{{ key }}{%- if keyword.description is not none -%}[{{ keyword.description }}]{%- endif -%}' \
{%- endfor %}
        '*:: :->null' \
        && return 1

    return 0
}

compdef {{ func_name }} {{ ([app_name] + app_aliases)|join(" ") }}
